@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 1px;
  color: white;
}

#home {
  min-height: 100vh;
  background: url("./assets/images/5439922.jpg") no-repeat;
  background-size: cover;

}

.logo {
  font-family: 'Righteous', cursive;
  color: white;
}